<h1> <%= @author.name %> Details</h1>

<% if @author.books().any?() %>

  <h3>Here are all the books this author has written:</h3>

  <ul>
    <% @author.books().each() do |book| %>
      <li><%= book.title() %></li>
    <% end %>
  </ul>

<% end %>

<h4>Add other books the author has written:</h4>

<% if @books.any?() %>
  <form action="/authors/<%= @author.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @books.each() do |book| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="book_ids[]" value="<%= book.id() %>"><%= book.title() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add books</button>
  </form>
<% end %>

<form action="/authors/<%= @author.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete author</button>
</form>

<a href="/authors">Return to author list</a>
